@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply !scroll-smooth;
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.clip-trapezoid-right {
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
}

/* Loading Animation */

body {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: #ffffff;
  transform: translateY(20px);
  filter: blur(8px);
}

@keyframes revealAnimationRight {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes revealAnimationLeft {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes revealAnimationUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes revealAnimationDown {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.revealRight.show {
  opacity: 1;
  animation: revealAnimationRight 0.6s ease-in-out forwards;
}

.revealRight {
  opacity: 0;
}

.revealLeft.show {
  opacity: 1;
  animation: revealAnimationLeft 0.6s ease-in-out forwards;
}

.revealLeft {
  opacity: 0;
}

.revealUp.show {
  opacity: 1;
  animation: revealAnimationUp 0.6s ease-in-out forwards;
}

.revealUp {
  opacity: 0;
}

.revealDown.show {
  opacity: 1;
  animation: revealAnimationDown 0.6s ease-in-out forwards;
}

.revealDown {
  opacity: 0;
}

/*Box CSS*/

@media (hover: none) {
  .box, .box2, .boxNav, .boxNav2, .boxNav3 {
    perspective: none; /* Disable perspective */
  }

  .box-inner, .box2-inner, .boxNav-inner, .boxNav2-inner, .boxNav3-inner {
    transition: none; /* Disable transition */
    transform-style: flat; /* Change transform-style */
  }

  /* Reset the transformations */
  .box:hover .box-inner,
  .box2:hover .box2-inner,
  .boxNav:hover .boxNav-inner,
  .boxNav2:hover .boxNav2-inner,
  .boxNav3:hover .boxNav3-inner {
    transform: none; /* Remove transformations */
  }
}

.box, .box2, .boxNav, .boxNav2, .boxNav3 {
  perspective: 1000px;
}
.box-inner, .box2-inner, .boxNav-inner, .boxNav2-inner, .boxNav3-inner {
  transition: transform 0.3s;
  transform-style: preserve-3d;
}
.box:hover .box-inner {
  transform: rotateX(90deg);
}
.box2:hover .box2-inner {
  transform: rotateY(90deg);
}
.box-front {
  transform: translateZ(120px);
}

.box-back {
  transform: rotateX(-90deg) translateZ(100px);
  backface-visibility: hidden;
}

@media (min-width: 1025px) {
  .box2-front {
    transform: translateZ(240px);
  }

  .box2-back {
    transform: rotateY(-90deg) translateZ(240px);
    backface-visibility: hidden;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .box2-front {
    transform: translateZ(200px);
  }

  .box2-back {
    transform: rotateY(-90deg) translateZ(200px);
    backface-visibility: hidden;
  }
}

/* @media (max-width: 599px) {
  .box2-front {
    transform: translateZ(170px);
  }

  .box2-back {
    transform: rotateY(-90deg) translateZ(170px);
    backface-visibility: hidden;
  }
} */

.boxNav:hover .boxNav-inner {
  transform: rotateX(90deg);
}
.boxNav-front {
  transform: translateZ(20px);
}
.boxNav-back {
  transform: rotateX(-90deg) translateZ(20px);
  backface-visibility: hidden;
}
.boxNav2:hover .boxNav2-inner {
  transform: rotateX(-90deg);
}
.boxNav2-front {
  transform: translateZ(20px);
}
.boxNav2-back {
  transform: rotateX(90deg) translateZ(20px);
  backface-visibility: hidden;
}
.boxNav3:hover .boxNav3-inner {
  transform: rotateY(90deg);
}
.boxNav3-front {
  transform: translateZ(20px);
}
.boxNav3-back {
  transform: rotateY(-90deg) translateZ(20px);
  backface-visibility: hidden;
}

@keyframes cinematicFlyInOut {
  0% {
    transform: scale(0.2) rotateX(180deg); /* Start large with an X-axis tilt */
    opacity: 0;
  }
  25% {
    transform: scale(1) rotateX(0deg); /* Fly in, face forward, slight overshoot */
    opacity: 1;
  }
  50% {
    transform: scale(1) rotateX(0deg); /* Settle at normal size, no rotation */
    opacity: 1;
  }
  75% {
    transform: scale(1) rotateX(0deg); /* Start to fly out with slight overshoot */
    opacity: 1;
  }
  100% {
    transform: scale(0.2) rotateX(180deg); /* Fly out large and tilted on X-axis */
    opacity: 0;
  }
}

.fly {
  animation: cinematicFlyInOut 6s ease-in-out infinite;
}